{% extends 'base.html.twig' %}

{% block title %}Episode #{{ program.id }}{% endblock %}

{% block body %}
<div class="container my-3">
    <div class="media text-center">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <ul class="list-group my-3">
            <li class="list-group-item">
                <div>Titre de la série : {{ program.title}} </div>
            </li>
            <li class="list-group-item">
                <div>N° de la saison : {{ season.number }} </div>
            </li>
            <li class="list-group-item">
                <div>N° de l'épisode : {{ episode.number}} </div>
            </li>
            <li class="list-group-item">
                <div>Titre de l'épisode : {{ episode.title }} </div>
            </li>
            <li class="list-group-item">
                <div>Résumé de l'épisode : {{ episode.sypnosis }} </div>
            </li>
        </ul>
    </div>
    <a class="btn btn-outline-primary" href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
</div>
{% endblock %}