{% extends 'base.html.twig' %}

{% block title %}Episode #{{ program.id }}{% endblock %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <ul>
            <li>
                <div>Titre de la série : {{ program.title}} </div>
            </li>
            <li>
                <div>N° de la saison : {{ season.number }} </div>
            </li>
            <li>
                <div>N° de l'épisode : {{ episode.number}} </div>
            </li>
            <li>
                <div>Titre de l'épisode : {{ episode.title }} </div>
            </li>
            <li>
                <div>Résumé de l'épisode : {{ episode.sypnosis }} </div>
            </li>
        </ul>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}