{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
<div class="container my-3">
    <div class="media text-center">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body my-3">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
        </div>
    </div>
    <h1 class="my-5">Seasons :</h1>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Year</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for season in seasons %}
                    <tr>
                        <td>{{ season.number }}</td>
                        <td>{{ season.year }}</td>
                        <td>{{ season.description }}</td>
                        <td><a class="btn btn-danger" href="{{ path("program_season_show", { programId:program.id, seasonId:season.id }) }}">Détails</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <a class="btn btn-primary" href="{{ path('program_index') }}">
       Back to the list of programs
    </a>
</div>
{% endblock %}